.heroText {
  /* display: flex; */
  position: relative;

  align-content: center;
  /* height: 100%; */
  min-height: 100vh;
}

.JONASFREED {
  /* font-family: "Coral Pixels", serif; */
  text-align: center;

  margin-top: 16vh;
  font-family: var(--preferred-font);
  font-size: 18rem;
  line-height: 19rem;
}

.studio {
  text-align: center;

  font-family: "Libertinus Mono", monospace;
  /* font-family: "Libre Caslon Text", serif; */
  font-size: 7rem;
  line-height: 5rem;
  /* position: absolute; */
}

.motto {
  /* position: absolute; */
  padding-top: 6rem;
  /* position: absolute; */

  /* padding-top: 10rem; */
  /* bottom: 15rem; */
  font-size: 3rem;
  text-align: center;
}

@media screen and (max-width: 1060px) {
  .JONASFREED {
    /* font-size: 10rem; */
    font-size: 25vw;
    line-height: 27vw;
  }
  .studio {
    font-size: 10vw;
    line-height: 8vw;
  }
  .motto {
    padding-top: 14vw;
    font-size: 2rem;
  }
}
