.manifestGrid {
  display: grid;
  grid-template-columns: 20% auto 20%;
  width: 100vw;
}
@media screen and (max-width: 800px) {
  .manifestGrid {
    grid-template-columns: 0% auto 0%;
  }
}
.manifestTitle {
  display: flex;
  flex-direction: row;
  font-size: 6.4vw;
  align-content: center;
  justify-content: center;
  font-family: var(--preferred-font);

  /* rotate: 90deg; */
  /* writing-mode: sideways-rl; */
}
@media screen and (min-width: 1400px) {
  .manifestTitle {
    font-size: 7rem;
  }
}
.manifestTitleSmall {
  /* display: flex; */
  /* flex-direction: row; */
  font-size: 8.4vw;
  align-content: center;
  justify-content: center;
  text-align: center;
  /* rotate: 90deg; */
  /* writing-mode: sideways-rl; */
}

.manifestText {
  font-size: large;
  border-left: 2px solid;
  border-right: 2px solid;
  padding-left: 4rem;
  padding-right: 4rem;
  text-align: justify;
}
@media screen and (max-width: 500px) {
  .manifestText {
    padding-left:  2rem;
    padding-right: 2rem;
  }
}

.manifestParagraph {
  margin-bottom: 1rem;
}

.manifestStone {
  /* display: flex; */
  position: relative;
  padding: 6rem;
}
.stikipin {
  position: sticky;
  /* height: 8rem; */
  width: 100%;
  /* left: 50%; */
  top: 4rem;
  /* background-color: chartreuse; */
}
