@import url("https://fonts.googleapis.com/css2?family=Coral+Pixels&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coral+Pixels&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coral+Pixels&family=Libertinus+Mono&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");

.datagalore {
  --background-color: rgb(255, 255, 255);
  --accent-color: rgb(255, 123, 0);
  --accent2-color: rgb(0, 238, 255);
  --text-color: rgb(20, 11, 95);
  --preferred-font: "Coral Pixels", serif;
}
.wikiutopist {
  --background-color: rgb(241, 239, 252);
  --accent-color: rgb(255, 0, 191);
  --accent2-color: rgb(0, 238, 255);
  --text-color: rgb(20, 11, 95);
  --preferred-font: "Libre Caslon Text", serif;
}
.printedpress {
  --background-color: rgb(255, 255, 0);
  --accent-color: rgb(255, 0, 255);
  --accent2-color: rgb(0, 255, 255);
  --text-color: rgb(0, 0, 0);
  --preferred-font: "Libre Caslon Text", serif;
}
.mortouvif {
  --background-color: rgb(241, 235, 227);
  --accent-color: rgb(0, 153, 255);
  --accent2-color: rgb(255, 174, 0);
  --text-color: rgb(243, 65, 11);
  --preferred-font: "Libre Caslon Text", serif;
}

:root {
  font-family: "Libre Caslon Text", serif;

  --max-small-width: 320px;
  --max-phone-width: 767px;
  --max-tablet-width: 991px;
}
* {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0%;
}

.fontReg {
  font-family: "Libre Caslon Text", serif;
}
.fontPix {
  font-family: "Coral Pixels", serif;
}
.fontMono {
  font-family: "Libertinus Mono", monospace;
}

h1 {
  font-size: 5rem;
  font-family: var(--preferred-font);

  font-weight: 400;
}

@media (max-width: 760px) {
  h1 {
    font-size: 3rem;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 10vw;
  }
}

h2 {
  /* font-size: 6rem; */
  font-family: "Coral Pixels", serif;
  /* font-family: "Libre Caslon Text", serif; */
}

/* GLOBALS */

/* REUSABLES */

.page {
  display: flex;
  flex-direction: column;
  /* overflow: scroll; */
  min-height: 100vh;
}

.fullpage {
  width: 100vw;
  height: 100vh;
}

.fullscreen {
  left: 0%;
  right: 0%;
  top: 0%;
  margin-top: 0;
  margin-left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.fullparent {
  left: 0%;
  right: 0%;
  top: 0%;
  margin-top: 0;
  margin-left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.actualContent {
  position: relative;
  min-width: 320px;
  max-width: 1280px;
  margin: 5px auto;
  /* overflow: scroll; */
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.debug {
  border-style: dotted;
  border-width: 0.3rem;
  border-color: rgb(43, 255, 0);
  box-sizing: border-box;
}

.bg {
  background-color: var(--background-color);
}

.bg-blur {
  background-color: color-mix(
    in oklab,
    var(--background-color) 40%,
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(50px);
}
.bg-blur-weak {
  background-color: color-mix(
    in oklab,
    var(--background-color) 30%,
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(20px);
}

.bg-invert {
  background-color: var(--text-color);
  color: var(--background-color);
}

.no-overflow {
  overflow: hidden;
}
